<div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-2 fw-bold text-uppercase">
        Quản lý
    </div>
    <div class="list-group list-group-flush my-3">
        <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fa-solid fa-dashboard me-2"></i>Dashboard
        </a>
        <a href="/admin/categories" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fa-solid fa-layer-group me-2"></i>Chuyên mục
        </a>
        <a href="/admin/tags" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fa-solid fa-tags me-2"></i>Nhãn
        </a>
        <a href="/admin/posts" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fa-solid fa-newspaper me-2"></i>Bài viết</a>
        <a href="/admin/users" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
                class="fa-solid fa-users me-2"></i>Người dùng</a>
    </div>
</div>