<!-- Begin Footer -->
<footer id="bottom">
    <div class="footer__line footer__line-bold">

    </div>
    <div class="footer__flex__row__container">
        <div>
            <a href="#top">
                <img src="/img/logo/news-logo-cut.png" alt="" id="footer-logo" />
            </a>
            <div id="social-media--container">
                <a href="#" id="facebook">
                </a>
                <a href="#" id="twitter">
                </a>
                <a href="#" id="reddit">
                </a>
            </div>
        </div>

        <div class="footer__category">
            <ul>
                <li class="footer__category-level_1">
                    <a href="">
                        <h4>
                            Thời sự
                        </h4>
                    </a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Chính trị</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Quốc phòng</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Lao động</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Dân sinh</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Thời luận</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Việc làm</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Quyền được biết</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Pháp luật</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Phóng sự / điều tra</a>
                </li>
            </ul>
        </div>

        <div class="footer__category">
            <ul>
                <li class="footer__category-level_1">
                    <a href="">
                        <h4>
                            Thế giới
                        </h4>
                    </a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Kinh tế thế giới</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Quân sự</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Góc nhìn</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Hồ sơ</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Người Việt năm châu</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Chuyện lạ</a>
                </li>
            </ul>
        </div>

        <div class="footer__category">
            <ul>
                <li class="footer__category-level_1">
                    <a href="">
                        <h4>
                            Kinh tế
                        </h4>
                    </a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Kinh tế xanh</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Làm giàu</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Doanh nhân</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Ngân hàng</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Chính sách - phát triển</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Địa ốc</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Doanh nghiệp</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Chứng khoáng</a>
                </li>
            </ul>
        </div>

        <div class="footer__category">
            <ul>
                <li class="footer__category-level_1">
                    <a href="">
                        <h4>
                            Giáo dục
                        </h4>
                    </a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Tuyển sinh</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Chọn nghề - chọn trường</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Du học</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Cẩm nang tuyển sinh 2023</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Phụ huynh</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Nhà trường</a>
                </li>
            </ul>
        </div>

        <div class="footer__category">
            <ul>
                <li class="footer__category-level_1">
                    <a href="">
                        <h4>
                            Du lịch
                        </h4>
                    </a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Khám phá</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Tin tức sự kiện</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Chơi gì, ăn đâu, đi thế nào</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Bất động sản</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Câu chuyện du lịch</a>
                </li>
            </ul>
        </div>

        <div class="footer__category">
            <ul>
                <li class="footer__category-level_1">
                    <a href="">
                        <h4>
                            Sức khỏe
                        </h4>
                    </a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Khỏe đẹp mỗi ngày</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Niềm tin vào y đức</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Làm đẹp</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Giới tính</a>
                </li>
            </ul>
        </div>

        <div class="footer__category">
            <ul>
                <li class="footer__category-level_1">
                    <a href="">
                        <h4>
                            Văn hóa
                        </h4>
                    </a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Câu chuyện văn hóa</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Khảo cứu</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Xem - nghe</a>
                </li>
                <li class="footer__category-level_2">
                    <a href="">Sống đẹp</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer__line footer__line-very_light">
    </div>
    <div class="footer__flex__row__container">
        <a class="footer__end-a">
            &#169;
            <span id="current-year">2023</span>
            Báo mới Việt Nam
        </a>
        <a class="footer__end-a">
            Liên hệ
        </a>
        <a class="footer__end-a">
            Việc làm
        </a>
        <a class="footer__end-a">
            Quảng cáo
        </a>
        <a class="footer__end-a">
            Chính sách bảo mật
        </a>
        <a class="footer__end-a">
            Điều khoản sử dụng
        </a>
        <a class="footer__end-a">
            Đăng ký Preminum
        </a>
    </div>
</footer>