  {{> bootstrap-lib}}
    <main class="container">
      <div class="d-flex" id="wrapper">
        <div class="bg-white" id="sidebar-wrapper">
          <div
            class="sidebar-heading text-center py-4 primary-text fs-2 fw-bold text-uppercase"
          >
            Quản lý
          </div>
          <div class="list-group list-group-flush my-3">
            <a
              href="admin"
              class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
            >
              <i class="fa-solid fa-dashboard me-2"></i>Dashboard
            </a>
            <a
              href="/admin-categories"
              class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
            >
              <i class="fa-solid fa-layer-group me-2"></i>Chuyên mục
            </a>
            <a
              href="/admin-tags"
              class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
            >
              <i class="fa-solid fa-tags me-2"></i>Nhãn
            </a>
            <a
              href="/admin-posts"
              class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
              ><i class="fa-solid fa-newspaper me-2"></i>Bài viết</a
            >
            <a
              href="/admin-users"
              class="list-group-item list-group-item-action bg-transparent second-text fw-bold"
              ><i class="fa-solid fa-users me-2"></i>Người dùng</a
            >
          </div>
        </div>

        <div id="page-content-wrapper">
          <div class="container-fluid px-5 m-5">
            <div class="row g-4 my-2">
              <div class="col-md-3">
                <div
                  class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
                >
                  <div>
                    <h3 class="fs-3">40</h3>
                    <p class="fs-5">Chuyên mục</p>
                  </div>
                  <i
                    class="fas fa-gift fs-3 primary-text border rounded-full secondary-bg p-3"
                  ></i>
                </div>
              </div>

              <div class="col-md-3">
                <div
                  class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
                >
                  <div>
                    <h3 class="fs-3">30</h3>
                    <p class="fs-5">Nhãn</p>
                  </div>

                  <i
                    class="fa-solid fa-tags me-2 fs-3 primary-text border rounded-full secondary-bg p-3"
                  ></i>
                </div>
              </div>

              <div class="col-md-3">
                <div
                  class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
                >
                  <div>
                    <h3 class="fs-3">10</h3>
                    <p class="fs-5">Bài viết</p>
                  </div>
                  <i
                    class="fa-solid fa-newspaper me-2 fs-3 primary-text border rounded-full secondary-bg p-3"
                  ></i>
                </div>
              </div>

              <div class="col-md-3">
                <div
                  class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
                >
                  <div>
                    <h3 class="fs-3">15</h3>
                    <p class="fs-5">Người dùng</p>
                  </div>
                  <i
                    class="fa-solid fa-users me-2 fs-3 primary-text border rounded-full secondary-bg p-3"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{{> footer}}