{{> bootstrap-lib}}
<main class="container">
  <div class="d-flex" id="wrapper">
    {{> admin-nav}}

    <div id="page-content-wrapper">
      <div class="container-fluid px-5 m-5">
        <div class="row g-4 my-2">
          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                <h3 class="fs-3">{{metadata.categoryCount}}</h3>
                <p class="fs-5">Chuyên mục</p>
              </div>
              <i class="fas fa-gift fs-3 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
          </div>

          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                <h3 class="fs-3">{{metadata.tagCount}}</h3>
                <p class="fs-5">Nhãn</p>
              </div>

              <i class="fa-solid fa-tags me-2 fs-3 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
          </div>

          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                <h3 class="fs-3">{{metadata.postCount}}</h3>
                <p class="fs-5">Bài viết</p>
              </div>
              <i class="fa-solid fa-newspaper me-2 fs-3 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
          </div>

          <div class="col-md-3">
            <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
              <div>
                <h3 class="fs-3">{{metadata.userCount}}</h3>
                <p class="fs-5">Người dùng</p>
              </div>
              <i class="fa-solid fa-users me-2 fs-3 primary-text border rounded-full secondary-bg p-3"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer}}