{{> bootstrap-lib }}

<main class="container">
  <div class="d-flex" id="wrapper">
    <div class="bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading text-center py-4 primary-text fs-2 fw-bold text-uppercase text-nowrap">
        Quản lý
      </div>
      <div class="list-group list-group-flush my-3">
        <a href="/admin" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
          <i class="fa-solid fa-dashboard me-2"></i>Dashboard
        </a>
        <a href="/admin-categories" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
          <i class="fa-solid fa-layer-group me-2"></i>Chuyên mục
        </a>
        <a href="/admin-tags" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
          <i class="fa-solid fa-tags me-2"></i>Nhãn
        </a>
        <a href="/admin-posts" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="fa-solid fa-newspaper me-2"></i>Bài viết</a>
        <a href="/admin-users" class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
            class="fa-solid fa-users me-2"></i>Người dùng</a>
      </div>
    </div>

    <div id="page-content-wrapper" class="w-75">
      <div class="container-fluid px-md-5 px-0 m-5">
        <div class="row g-4 my-2">
          <div class="col-md-4">
            <h2 class="text-dark fw-bold fs-2 text-uppercase text-nowrap">
              Độc giả
            </h2>
          </div>
        </div>

        <div class="row g-4 my-2 row-cols-1">
          <div class="col">Tên độc giả</div>

          <div class="col">
            <div class="card border-primary mb-3">
              <div class="card-body">
                <span class="card-text fw-bold">Nguyễn Văn A</span>

                <button class="bg-transparent remove-user text-danger float-end mx-2">
                  Xóa
                </button>
                <button data-bs-toggle="modal" data-bs-target="#extendSubscriptionModal"
                  class="bg-transparent text-warning float-end mx-2">
                  Gia hạn Premium
                </button>
                <a href="profile.html" target="_blank" class="text-primary float-end mx-2">Xem chi tiết</a>
              </div>
            </div>

            <div class="card border-primary mb-3">
              <div class="card-body">
                <span class="card-text fw-bold">Nguyễn Văn B</span>

                <button class="bg-transparent remove-user text-danger float-end mx-2">
                  Xóa
                </button>
                <button data-bs-toggle="modal" data-bs-target="#extendSubscriptionModal"
                  class="bg-transparent text-warning float-end mx-2">
                  Gia hạn Premium
                </button>
                <a href="profile.html" target="_blank" class="text-primary float-end mx-2">Xem chi tiết</a>
              </div>
            </div>

            <div class="card border-primary mb-3">
              <div class="card-body">
                <span class="card-text fw-bold">Nguyễn Văn C</span>

                <button class="bg-transparent remove-user text-danger float-end mx-2">
                  Xóa
                </button>
                <button data-bs-toggle="modal" data-bs-target="#extendSubscriptionModal"
                  class="bg-transparent text-warning float-end mx-2">
                  Gia hạn Premium
                </button>
                <a href="profile.html" target="_blank" class="text-primary float-end mx-2">Xem chi tiết</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for Publish Post -->
        <div class="modal fade" id="extendSubscriptionModal" tabindex="-1"
          aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle">
                  Xác nhận xuất bản bài viết
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body">
                <p class="my-4">Nhập số ngày để gia hạn Premium</p>
                <div class="input-group mb-5">
                  <input type="number" required class="form-control" placeholder="Số ngày" aria-label="Số ngày" />
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger">
                  Gia hạn
                </button>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Hủy
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row g-4 my-2">
          <div class="col-md-3"></div>

          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</main>

{{> footer}}
<script>
  document.querySelectorAll(".remove-user").forEach((item) =>
    item.addEventListener("click", (e) => {
      if (confirm("Bạn có chắc chắn muốn xóa độc giả này?")) {
        e.target.parentElement.parentElement.remove();
      }
    })
  );
</script>