<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap"
  rel="stylesheet"
/>

<!-- CSS Libraries -->
<link
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/general.css" />

<main>

  <div class="error-container">

    <h1>Message</h1>
    <p class="alert alert-warning">
      {{{message}}}
    </p>
    <img src="/img/gif/nocrash.gif" alt="" id = "nocrash">
  </div>

</main>