{{> bootstrap-lib }}
<link rel="stylesheet" href="/css/forgot-password.css">
<link rel="stylesheet" href="/css/general.css">

<main class="h-75 w-100 d-flex align-items-center justify-content-center">
    <form action="/users/otp" method="post">
        <div class="card text-center" style="
        width: 400px;
        min-height: 350px;
        ">
            <div class="card-header h5 text-white bg-primary py-3">Xác thực</div>
            <div class="card-body px-5">
                <p class="card-text py-2 mt-2 mb-2 fw-bolder fs-5">
                    Bước 2
                </p>
                
                {{#if sendEmail}}
                <div class="col-md-12">
                    <div class="p-3 mt-3 alert alert-success">
                        {{{sendEmail}}}
                    </div>
                </div>
                {{/if}}

                {{#if message}}
                <div class="col-md-12">
                    <div class="p-3 mt-3 alert alert-danger">
                        {{{message}}}
                    </div>
                </div>
                {{/if}}

                <div class="form-outline">
                    <div class="otp-container fs-5">
                        <input type="text" maxlength="1" name="otp1" required>
                        <input type="text" maxlength="1" name="otp2" required>
                        <input type="text" maxlength="1" name="otp3" required>
                        <input type="text" maxlength="1" name="otp4" required>
                        <input type="text" maxlength="1" name="otp5"required>
                        <input type="text" maxlength="1" name="otp6" required>
                    </div>
                </div>

                {{!-- Use for later :) --}}
                <input type="hidden" name="email" value="{{email}}">
                <button class="btn btn-primary w-100 mt-4"> Tiếp tục </button>

            </div>
        </div>
    </form>

</main>

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

<script src="/js/forgot-password.js"></script>