
{{> bootstrap-lib }}
<link rel="stylesheet" href="css/forgot-password.css">


<main class="w-100 h-100 position-absolute d-flex align-items-center justify-content-center fs-5">
    <div class="fpw-layout position-absolute blurred-container d-flex flex-column gap-3 text-center" id="fpw-layout-1">
        <i type="button" class="bi bi-arrow-left back-btn fs-4"></i>
        <span class="title fs-3 fw-bold">Quên mật khẩu</span>
        <label for="email" class="fw-bold">Đầu tiên, cho chúng tôi biết địa chỉ<br>email bạn đã đăng ký</label>
        <input type="text" class="inp-box form-control fs-5" name="user-email" id="email" placeholder="Email" required>
        <button class="gray-text-btn">Tiếp tục</button>
    </div>
    <div class="fpw-layout position-absolute blurred-container d-flex flex-column gap-3 text-center" id="fpw-layout-2">
        <i type="button" class="bi bi-arrow-left back-btn fs-4"></i>
        <span class="title fs-3 fw-bold">Xác thực</span>
        <label for="" class="fw-bold">Chúng tôi đã gửi một mã xác thực<br>sáu ký tự về địa chi email của bạn.<br>
            Nhập vào ô bên dưới để xác xác nhận<br>tài khoản này là của bạn.
        </label>
        <div class="otp-container fs-5">
            <input type="text" maxlength="1" required>
            <input type="text" maxlength="1" required>
            <input type="text" maxlength="1" required>
            <input type="text" maxlength="1" required>
            <input type="text" maxlength="1" required>
            <input type="text" maxlength="1" required>
        </div>
        <button class="gray-text-btn">Tiếp tục</button>
    </div>
    <div class="fpw-layout position-absolute blurred-container d-flex flex-column gap-3 text-center" id="fpw-layout-3">
        <i type="button" class="bi bi-arrow-left back-btn fs-4"></i>
        <span class="title fs-3 fw-bold">Mật khẩu mới</span>
        <label for="" class="fw-bold">Nhập mật khẩu mới của bạn</label>
        <input type="password fs-5" class="inp-box form-control" name="user-pw" id="pw" placeholder="Mật khẩu" required>
        <input type="password fs-5" class="inp-box form-control" id="repw" placeholder="Nhập lại mật khẩu" required>
        <button class="gray-text-btn">Hoàn tất</button>
    </div>
</main>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

<script src="/js/forgot-password.js"></script>