{{> bootstrap-lib }}
<link rel="stylesheet" href="/css/forgot-password.css">
<link rel="stylesheet" href="/css/general.css">

<main class="h-75 w-100 d-flex align-items-center justify-content-center">
    <form action="/users/reset" method="post" id ="form-reset">
        <div class="card text-center" style="
        width: 400px;
        min-height: 350px;
        ">
            <div class="card-header h5 text-white bg-primary py-3">Mật khẩu mới</div>
            <p class="card-text py-2 mt-3 mb-0 fw-bolder fs-5">
                Bước 3
            </p>
            <div class="card-body px-5">
                {{#if message}}
                <div class="col-md-12">
                    <div class="p-3 mt-3 alert alert-success">
                        {{{message}}}
                    </div>
                </div>
                {{/if}}

                {{#unless message}}
                <p class="card-text py-2 mt-0 fs-5">
                    Vui lòng nhập mật khẩu mới
                </p>
                <div class="form-outline">
                    <input type="hidden" name="email" value="{{email}}">
                    <input type="password" class="inp-box form-control my-3" name="password" id="pw"
                        placeholder="Mật khẩu" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Mật khẩu phải gồm ít nhất 1 chữ cái thường, 1 in hoa, 1 chữ số, 1 kí tự đặc biệc và 8 kí tự."
                        required>

                    <input type="password" class="inp-box form-control" id="repw" name="confirmPassword"
                        placeholder="Nhập lại mật khẩu"  onchange="checkPasswordConfirm('form-reset')" required>
                </div>

                <button class="btn btn-primary w-100 mt-4"> Hoàn tất </button>
                {{/unless}}
            </div>
        </div>
    </form>

</main>

<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

<script src="/js/forgot-password.js"></script>