{{> bootstrap-lib }}
<main class="container my-5">
  <div class="row g-5">
    <div class="col-md-8 col">
      <h2>Tag: Lúa gạo</h2>
      <hr class="text-primary" />
    </div>
  </div>

  <div class="post-list row my-3">
    <div class="row row-cols-1">
      <div class="col-md-4 col mb-3">
        <a href="post-1.html">
          <img src="/img/post/thumbnail-medium.png" class="img-fluid mt-3" alt="Machine harvesting paddy field" />
        </a>
      </div>
      <div class="col-md-8 col my-3">
        <div class="post-meta-data d-flex justify-content-between">
          <a href="post-list-category.html">Nông sản</a>
          <span>13/03/2023</span>
        </div>
        <a href="post-1.html">
          <h6 class="fw-bold">Thúc đẩy xuất khẩu nông sản chính ngạch</h6>
        </a>
        <p class="text-secondary">
          Đồng bằng sông Cửu Long là là vùng sản xuất và xuất khẩu lương
          thực, thực phẩm, thuỷ hải sản và trái cây lớn nhất của cả nước.
        </p>
      </div>
    </div>

    <div class="row row-cols-1">
      <div class="col-md-4 col mb-3">
        <a href="post-1.html">
          <img src="/img/post/thumbnail-medium.png" class="img-fluid mt-3" alt="Machine harvesting paddy field" />
        </a>
      </div>
      <div class="col-md-8 col my-3">
        <div class="post-meta-data d-flex justify-content-between">
          <a href="post-list-category.html">Nông sản</a>
          <span>13/03/2023</span>
        </div>
        <a href="post-1.html">
          <h6 class="fw-bold">Thúc đẩy xuất khẩu nông sản chính ngạch</h6>
        </a>
        <p class="text-secondary">
          Đồng bằng sông Cửu Long là là vùng sản xuất và xuất khẩu lương
          thực, thực phẩm, thuỷ hải sản và trái cây lớn nhất của cả nước.
        </p>
      </div>
    </div>

    <div class="row row-cols-1">
      <div class="col-md-4 col mb-3">
        <a href="post-1.html">
          <img src="/img/post/thumbnail-medium.png" class="img-fluid mt-3" alt="Machine harvesting paddy field" />
        </a>
      </div>
      <div class="col-md-8 col my-3">
        <div class="post-meta-data d-flex justify-content-between">
          <a href="post-list-category.html">Nông sản</a>
          <span>13/03/2023</span>
        </div>
        <a href="post-1.html">
          <h6 class="fw-bold">Thúc đẩy xuất khẩu nông sản chính ngạch</h6>
        </a>
        <p class="text-secondary">
          Đồng bằng sông Cửu Long là là vùng sản xuất và xuất khẩu lương
          thực, thực phẩm, thuỷ hải sản và trái cây lớn nhất của cả nước.
        </p>
      </div>
    </div>
  </div>

  <nav class="my-4" aria-label="Pagination">
    <ul class="pagination d-flex justify-content-center">
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      <li class="page-item active" aria-current="page">
        <span class="page-link">1</span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>

      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</main>

<hr />
{{> footer}}