{{> bootstrap-lib}}

<link rel="stylesheet" href="/css/signup.css">
<link rel="stylesheet" href="/css/general.css">
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<main class="w-100 h-100">
    <form action="/users/register" method="post" class="w-100 h-100 position-relative d-flex flex-column align-items-center justify-content-center" id="formRegister">

        <div class="signup-layout-1 position-absolute blurred-container d-flex flex-column gap-4 align-items-center" id="signup-l1">
            <span class="fw-bold fs-2 mb-3 user-select-none">Đăng ký</span>

            {{#if registerMessage}}
            <div class="alert alert-danger" role="alert">
                {{{registerMessage}}}
            </div>
            {{/if}}

            {{#if registerMessageSuccess}}
            <div class="alert alert-success" role="alert">
                {{{registerMessageSuccess}}}
            </div>
            {{/if}}
            {{!-- <span class="fs-4 fw-bold user-select-none">Nhanh chóng thiết lập tài khoản</span> --}}
            <div class="input-container">
                <input type="text" class="form-control fs-5" name="username" id="username" placeholder="Tên người dùng" pattern="^[A-Za-z](?=.*\d)(?=.*[A-Za-z]).{5,}$" title="Username gồm ít nhất 6 kí từ gồm chữ đầu tiên phải là chữ cái, gồm ít nhất 1 chữ cái và 1 chữ số!" required>
                <div>
                    <img src="/img/icons/info.png" alt="" class="info-img">
                    <div class="note-item note-item-custom1">
                        Username gồm ít nhất 6 kí từ gồm chữ đầu tiên phải là chữ cái, gồm ít nhất 1 chữ cái và 1 chữ số
                        và phải <b>DUY NHẤT</b>
                    </div>
                </div>
            </div>
            <div class="input-container">
                <input type="email" class="form-control fs-5" name="email" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Email không hợp lệ!" required>
                <div>
                    <img src="/img/icons/info.png" alt="" class="info-img">
                    <div class="note-item note-item-custom2">
                        Email phải <b>DUY NHẤT</b>
                    </div>
                </div>
            </div>

            <div class="input-container">
                <input type="password" class="form-control fs-5" name="password" id="password" placeholder="Mật khẩu" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Mật khẩu phải gồm ít nhất 1 chữ cái thường, 1 in hoa, 1 chữ số, 1 kí tự đặc biệc và 8 kí tự." required>
                <div>
                    <img src="/img/icons/info.png" alt="" class="info-img">
                    <div class="note-item note-item-custom1">
                        Mật khẩu phải gồm ít nhất 1 chữ cái thường, 1 in hoa, 1 chữ số, 1 kí tự đặc biệc và 8 kí tự.
                    </div>
                </div>
            </div>
            <div class="input-container">
                <input type="password" class="form-control fs-5" name="confirmPassword" id="re-password" placeholder="Nhập lại mật khẩu" onchange="checkPasswordConfirm('formRegister')" required>
                <div>
                    <img src="/img/icons/info.png" alt="" class="info-img">
                    <div class="note-item note-item-custom2">
                        Xác nhận lại mật khẩu
                    </div>
                </div>
            </div>


            <button class="fs-4 mt-3" id="l1-continue-btn" type="button">Tiếp tục</button>
            <span class="fs-5 mt-3">Đã có tài khoản?<a href="/users/login"> Đăng nhập</a></span>
        </div>

        <div class="signup-layout-2 position-absolute blurred-container d-flex flex-column gap-3" id="signup-l2">
            <button id="l2-back-btn" type="button"><i class="bi bi-arrow-left fs-3"></i></button>
            <span class="fs-4 fw-bold d-block mt-5">Thông tin cơ bản về bạn</span>
            <span class="fs-5 fw-normal d-block">Họ tên</span>
            <input type="text" class="form-control fs-5" name="name" id="name" placeholder="Tên đầy đủ" required>
            <span class="fs-5 fw-normal d-block">Ngày sinh</span>
            <input type="date" class="w-100 fs-5" name="dob" id="dob" required>
            {{!-- <span class="fs-5 fw-bold d-block">Vai trò của bạn</span> --}}
            {{!-- <select name="user-role" class=" fs-5 mb-4" id="role">
                <option value="reader">Độc giả</option>
                <option value="writer">Phóng viên</option>
                <option value="editor">Biên tập viên</option>
            </select> --}}

            <input type="hidden" name="reqUrl" value="{{reqUrl}}" />
            <div class="g-recaptcha d-flex align-items-center justify-content-center" data-sitekey="{{sitekey}}"></div>
            <br />
            <button type="submit" class="fs-4 mt-4" id="signup-btn">Đăng ký</button>
        </div>
    </form>
</main>

<script src="/js/signup.js"></script>