{{> bootstrap-lib}}
<link rel="stylesheet" href="/css/signin.css">

<main class="h-100 w-100 d-flex align-items-center justify-content-center">
    <div class="blurred-container d-flex flex-column justify-content-center text-center">
        <div class="d-block text-center fs-2 fw-bold mt-4 mb-4 user-select-none">Đăng Nhập</div>

        <div>
            <input type="email" class="form-control container-fluid mb-2" id="email" aria-describedby="emailHelpId"
                placeholder="Email">
            <input type="password" class="form-control container-fluid" id="password" placeholder="Password">
            <a href="/forgot-password" class="d-block text-end pe-4 p-2"
                style="text-decoration: none; color: black; font-style: italic;">Quên mật khẩu?</a>
            <button class="login-btn fs-5 mt-3" id="login-btn">Đăng nhập</button>
        </div>

        <div class="separator d-flex justify-content-center align-items-center m-3">
            <div class="flex-fill ms-3 me-3">
                <hr>
            </div>
            <span class="fw-bold fst-italic">Hoặc</span>
            <div class="flex-fill ms-3 me-3">
                <hr>
            </div>
        </div>

        <div class="google-signin-btn container-fluid mb-2 d-flex flex-row align-items-center p-2"
            id="google-login-btn">
            <img src="/img/icons/google.png" style="height: 3em; width: 3em; cursor:pointer;" alt="Google logo">
            <span class="d-block">Tiếp tục với Google</span>
        </div>

        <div class="facebook-signin-btn container-fluid mb-4 d-flex flex-row align-items-center p-2"
            id="facebook-login-btn">
            <img src="/img/icons/facebook-color.png" class="p-2" style="height: 3em; width: 3em; cursor:pointer;"
                alt="Facebook logo">
            <span class="d-block">Tiếp tục với Facebook</span>
        </div>

        <div class="user-select-none">Chưa có tài khoản?</div>
        <a href="/signup" class="signup-btn m-2">Đăng ký</a>
        <a href="/" class="stay-anony-btn mb-4">Hoặc tiếp tục ẩn danh</a>
    </div>
</main>

<script src="/js/signin.js"></script>