{{> bootstrap-lib }}
<link rel="stylesheet" href="css/writer-create.css">
<link rel="stylesheet" href="css/general.css">

<script src="https://cdn.tiny.cloud/1/ybgenbclqn3q7oxiuy9yffggfl9t25ihg58iubly50uzvwqn/tinymce/6/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#content',
        plugins: [
            'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
            'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
            'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
        ],
        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
            'alignleft aligncenter alignright alignjustify | ' +
            'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
    });
    tinymce.activeEditor.setContent('<h1>H1</h1><h2>H2<h2>');
</script>

<main class="d-flex flex-column gap-4">
    <div class="title fs-3 fw-bold ps-2">
        <span>Tạo bài viết</span>
    </div>
    <div class="catntags-container d-flex flex-row gap-5 ps-2">
        <div class="cat-container d-flex flex-row align-items-center gap-2 fs-5">
            <label for="category" class="fs-4 fw-bold">Chuyên mục</label>
            <select name="article-category" id="category"></select>
        </div>
        <div class="tags-container d-flex flex-row gap-2 align-items-center fs-5">
            <span class="fs-4 fw-bold">Nhãn</span>
            <div class="d-flex flex-row gap-2 " id="tags-container"></div>
            <div id="add-tag-btn">
                <!-- Modal trigger button -->
                <i class="bi bi-plus-square fs-4" type="button" data-bs-toggle="modal"
                    data-bs-target="#add-tag-modal"></i>
                <!-- Modal Body -->
                <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                <div class="modal fade" id="add-tag-modal" tabindex="-1" data-bs-backdrop="static"
                    data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitleId">Nhập tên nhãn</h5>
                                <button type="button" class="btn-close modal-close-btn" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="p-2" id="tag-input">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary modal-close-btn"
                                    data-bs-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="modal-add-btn">Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="title-container fs-5">
        <span class="fs-4 fw-bold mb-3 ps-2">Tiêu đề</span>
        <input type="text" class="d-block w-100" name="article-title" id="title">
    </div>
    <div class="summary-container fs-5">
        <span class="fs-4 fw-bold mb-3 ps-2">Tóm tắt</span>
        <textarea name="article-summary" class="d-block w-100" rows="5" id="summary"></textarea>
    </div>
    <div class="content-container fs-5">
        <span class="fs-4 fw-bold mb-3 ps-2">Nội dung</span>
        <div id="content" class="article-content"></div>
    </div>
    <div class="buttons d-flex flex-row justify-content-end gap-3 pe-5 mt-3">
        <button class="cancel-btn btn btn-secondary fs-5">Hủy</button>
        <button class="post-btn btn btn-primary fs-5">Đăng bài</button>
    </div>


</main>

<script src="/js/writer-create.js"></script>