body{
    overflow-x: hidden;
    box-sizing: border-box;
}

header{
    --header-height:75px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', 'Roboto', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

p {
    font-size: 18px;
    line-height: 120%;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    max-width: 100%;
    height: var(--header-height);
    padding: 0 50px;
    z-index: 9999;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.header-child {
    height: 100%;
    margin-right: 50px;
    display: flex;
    align-items: center;
}

.header-child:last-child {
    margin-right: 0;
}

#logo {
    width: auto;
    height: 100%;
    margin: auto;
}

nav {
    flex: 0.85;
    justify-content: space-between;
    overflow: hidden;
}

.level-1{
    overflow: hidden;
}

.level-1, .level-1 > a {
    min-width: 75px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    outline: none;
}  

.level-1 > a{
    display: inline-block;
    height: var(--header-height);
    line-height: var(--header-height);
    display: block;
    text-align: center;
}

.level-1:hover > a, .column a:hover {
    color: royalblue;
    font-weight: 600;
}

.level-1:hover > .level-2{
    display: block;
}


.level-2 {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px 100px; 
    z-index: 9999;
}

.category{
    margin: 10px 0;
}

.column {
    float: left;
    width: 25%;
    padding: 10px 0;
    animation-name: column-menu;
    animation-duration: .3s;
    --column-height: 200px;
    height: var(--column-height);
}

.column > a {
    float: none;
    padding: 16px 0;
    display: block;
    text-align: left;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}

.current-user--header{
    display: flex;
    align-items: center;
}

.current-user--header a{
    text-decoration: none;
    padding: 5px 7.5px;
    font-size: 18px;
}
.current-user--header a:hover{
    color: none;
    text-decoration: none;

}


.username--header{
    font-size: 16px;
    margin-right: 7.5px;
}
.icon-role{
    position: relative;

}
.icon-role:hover .note-role{
    display: block;
}

.note-role{
    background-color:#f5f5f5;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 10px 15px;
    display: none;
    position: absolute;
    left: -100px;
    bottom: -50px;
    min-width: 230px;
    z-index: 3;
}

/* Dropdown */
.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    z-index: 2;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    border-radius: 20px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #f9f9f9;
  }

.img-subscribe-icon--header{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.img-avatar--header{
    width: 25px;
    height: 25px;
    object-fit: cover;
    object-position: top;
}

#sign-in-btn {
    width: 130px;
    height: 40px;
    text-align: center;
    background-color: royalblue;
    border-radius: 10px;
    cursor: pointer;
}

#sign-in-btn span {
    color: white;
    font-size: 15px;
    position: relative;
    transition: 0.5s;
}

#sign-in-btn span:after {
    content: '\2192';
    position: absolute;
    opacity: 0;

    right: -15px;
    transition: 0.5s;
}

#sign-in-btn:hover span {
    padding-right: 25px;
}

#sign-in-btn:hover span:after {
    opacity: 1;
    right: 0;
}

footer{
    height: 300px;
    margin: 0 calc(3%);
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
}

.footer__flex__row__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__flex__row__container > div:first-child{
    align-self: center;
}

footer > * {
    margin-bottom: 20px;
}

footer > div:last-child{
    margin-top: -15px;
}

#footer-logo{
    width: 110px;
    margin-bottom: 5px;
    height: auto;
}

#social-media--container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#social-media--container > a{
    margin-right: 10px;
}

#social-media--container > a:last-child{
    margin-right: 0;
}

#social-media--container > a{
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block; 
}

#facebook{
    background-image: url('../img/icons/facebook.png');
}
#facebook:hover{
    background-image: url('../img/icons/facebook-color.png');
}

#twitter{
    background-image: url('../img/icons/twitter.png');
}
#twitter:hover{
    background-image: url('../img/icons/twitter-color.png');
}
#reddit{
    background-image: url('../img/icons/reddit.png');
}
#reddit:hover{
    background-image: url('../img/icons/reddit-color.png');
}
.footer__category ul{
    list-style: none;
}

.footer__category-level_2{
    font-size: 12px;
    margin: 3px 0;
}

.footer__category-level_2:hover > a, .footer__category-level_1:hover > a{
    color: royalblue;
}

.footer__line{
    width: 100%;
    height: 1.2px;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer__line-bold{
    background-color: rgba(0, 0, 0, 0.8);
}

.footer__line-very_light{
    background-color: rgba(0, 0, 0, 0.1);
}

.footer__end-a{
    font-size: 14px;
    cursor: pointer;
    opacity: 0.75;
}

.footer__end-a:hover{
    opacity: 1;
    text-decoration: underline;
}

.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.error-container p,  .error-container h1{
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.error-container p{
    font-size: 30px;
}

#nocrash{
    width: 700px;
    height: auto;
    border: none;
    border-radius: 30px;
}

@media screen and (max-width: 1100px) {
    .level-1, .level-1 > a{
        font-size: 13px;
    }
    .header-child{
        margin-right: 20px;
    }
}

@media screen and (max-width:900px) {
    .header-child{
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    .column{
        width: 100%;
        height: auto;
    }
}

@keyframes column-menu{
    from {height: 0;}
    to {height: var(--column-height);}
}