img{
  border-radius: 5px;
  
}
.card {
  position: relative;
  display: flex;
  padding: 20px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 11px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.media img {
  width: 60px;
  height: 60px;
}

.reply a {
  text-decoration: none;
}

#post-content img{
  margin: 20px 0; 
}
.icon-subscriber{
  
}

.categories{
  display: flex;
}

.categories > a{
  padding: 10px 15px;
  margin-right: 20px;
}

.relevant-posts {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.relevant-post{
  display: flex;
  flex-direction: column;
  transition: box-shadow .3s;
  padding: 5px 7.5px;
  border-radius: 5px;
}

.relevant-post:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.relevant-post > a:first-child{
  flex: 0.8;
  margin-bottom: 5px;
}

.relevant-post > div:last-child{
  flex: 0.2;
}

.relevant-post img{
  width: 100%;
  min-height: 210px;
  max-height: 210px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5px;
}

.relevant-post h6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.relevant-post-metadata{
  display: flex;
  justify-content: space-between;
}

.relevant-post-metadata > *{
  font-size: 14px;
}

.tags{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 7.5px;
}
.tags  *{
  text-align: center;
  padding: 7.5px 5px;
}

.comments-container{
  display: flex;
  flex-direction: column;
}

.comment-container{
  display: flex;
  flex-direction: column;
  padding: 7.5px 10px;
  transition: box-shadow .1s;
  border-radius: 7.5px;
  margin-bottom: 7.5px;
}

.comment-container:last-child{
  margin-bottom:0;
}

.comment-container:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.comment-user-time{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-user-time > *:first-child{
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.comment-user-time > *:last-child{
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
}

.comment-content{
  line-height: 1.5;
  font-size: 18px;
}

.no-comment{
  font-size: 25px;
  text-align: center;
}



.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}