.post {
  transition: box-shadow .2s;
  border-radius: 10px;
  display: flex;
  padding: 7.5px 0px;
  margin-bottom: 10px;
}

.img-post {
  flex: 0.35;
}

.img-post img{
  min-height: 300px;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.post > div:last-child{
  flex: 0.75;
}

.post:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.abstract {
  font-size: 18px;
  font-weight: 500;
}

.subscriber {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  padding: 7.5px;
  background-color: aliceblue;
  align-self: flex-end;
  margin-top: auto;
  transition: box-shadow .15s;
}

.subscriber:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .1);
}

.icon-subscriber {
  width: 100%;
  height: 100%;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.alert.success {
  background-color: #04AA6D;
}

.alert.info {
  background-color: #2196F3;
}

.alert.warning {
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}