body {
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 calc(12.5%);
}

.container-1,
.container-2,
.container-3 {
    display: flex;
}

.container-1>div {
    margin: 50px 20px 0 0;
    display: flex;
    flex-direction: column;

}

.container-1>div:first-child {
    justify-content: center;
    align-items: center;
}

.img-avatar--profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.img-avatar--profile:hover {
    background-color: rgba(96, 96, 96, 0.1);
}

#logout-btn {
    margin-top: 7px;
    width: 120px;
    height: 40px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 17.5px;
    cursor: pointer;
    color: white;
}

#logout-btn>span {
    color: white;
    font-size: 15px;
    position: relative;
    transition: 0.5s;
}

#logout-btn>span:after {
    content: '\2192';
    position: absolute;
    opacity: 0;
    right: -15px;
    transition: 0.5s;
}

#logout-btn:hover>span {
    padding-right: 20px;
}

#logout-btn:hover>span:after {
    opacity: 1;
    right: 0;
}

.username--profile {
    font-size: 25px;
    font-weight: 500;
}

#roles {
    margin-top: 5px;
}

#subscribe-btn,
#buy-premium--btn {
    margin-top: 15px;
    cursor: pointer;
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: goldenrod;
    color: white;
}

#subscribe-btn {
    display: none;
}

#buy-premium--btn {
    margin-top: 20px;
}

#subscribe-btn:hover #buy-premium--btn {
    opacity: 0.9;
}

#premium-display {
    margin-top: 15px;
    display: none;
    flex-direction: column;
}

#premium-display>div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#premium-display img {
    width: 25px;
    height: 25px;
    object-fit: contain;
    object-position: center;
    margin-right: 10px;
}

#premium-display p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 20px;
    color: goldenrod;
}

.container-2 {
    margin-top: 75px;
}

.container-2>div {
    margin-right: 40px;
    cursor: pointer;
}

.current-section>.vertical-line-animate {
    display: block;
}

.current-section>p {
    font-weight: 500;

}

.vertical-line-animate {
    display: none;
    height: 1.5px;
    width: 100%;
    background-color: black;
    animation-name: vertical;
    animation-duration: 0.4s;
}


@keyframes vertical {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


.section-content {
    display: none;
}

.current-section-content {
    margin: 30px 0 0 0;
    display: flex;
    width: 100%;
}

#general-infomation-form--section {
    display: flex;
    flex-direction: column;
}

#general-infomation-form--section>div {
    display: grid;
    grid-template-columns: 200px 200px;
    column-gap: 50px;
    row-gap: 20px;
}

#general-infomation-form--section>button {
    margin-top: 30px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}

#general-infomation-form--section>button:hover {
    opacity: 0.8;
}

#general-infomation-form--section>button:active {
    opacity: 0.6;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container>div {
    margin: 2px 0;
    height: 1.5px;
    width: 100%;
    background-color: grey;
}

.input-container>input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 18px;
}

.input-container>p {
    color: rgba(96, 96, 96, 0.5);

}

.special-input-container {
    display: none;
}

#censorship-section {}

.list-of-content {
    flex: 0.2;
    margin-right: 30px;
    height: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

.list-of-article {
    flex: 0.8;
}


.list-of-content>ul {
    list-style: none;
    border-left: 3px solid gray;
    border-radius: 1px;
}



.list-of-content li {
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 0 10px 10px;
    padding: 7.5px 10px;
    width: 100%;
}

.current-content {
    width: 100%;
    background-color: rgba(96, 96, 96, 0.3);
    border-radius: 5px;
    animation-name: current-content-animate;
    animation-duration: 0.4s;
}

@keyframes current-content-animate {
    from {
        background-color: rgba(96, 96, 96, 0.05);
        width: 90%;
    }

    to {
        background-color: rgba(96, 96, 96, 0.3);
        width: 100%;
    }
}

.article-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.article-container a {
    flex: 0.25;
    margin-right: 10px;
}

.article-content {
    flex: 0.75;
}

.article-container img {
    width: 100%;
    height: auto;
    max-height: 125px;
    object-fit: cover;
    object-position: top;
}


.article-content--top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.article-content--tilte {
    flex: .7;
    font-weight: 500;
    font-size: 17.5px;
    margin-right: 10px;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.article-content--tag {
    flex: .3;
}

.article-content--tag a {
    display: inline-block;
    height: auto;
    padding: 5px 10px;
    font-size: 14px;
    background-color: royalblue;
    border-radius: 5px;
    color: white;
}

.article-content--abstract {
    display: -webkit-box;
    font-size: 15px;
    opacity: 0.9;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-of-article--container {
    display: none;
    flex-direction: column;
}

.current-list-of-article--container {
    display: flex;
}

#container-0 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 96, 96, 0.5);
    justify-content: center;
    align-items: center;
}

#subscribe-container {
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    height: 420px;
}

#subscribe-container>div {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(220, 220, 220, 1);
}

#subscribe-container p {
    width: 80%;
    margin-top: 5px;
    font-size: 16px;
}

#subscribe-container ul {
    margin-top: 15px;
    width: 80%;
}

#subscribe-container li {
    list-style: none;
    margin-top: 5px;
}

#subscribe-container li::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    background-image: url("../assets/icons/check-mark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

#exit--subscribe-container {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/exit.png');
    position: absolute;
    right: 20px;
    top: 20px;
}

#subscribe-icon {
    width: 75px;
    height: 75px;
    margin-top: 50px;
}

/* Tam thoi */

.div1 {
    position: fixed;
    right: 75px;
    top: 200px;
}

.div2 {
    position: relative;
    padding: 20px 20px;
    background-color: royalblue;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
}

.div3 {
    width: 200px;
    display: none;
    position: absolute;
    left: -40px;
    top: 70px;
    padding: 10px 20px;
    background-color: grey;
    border-radius: 10px;
}

.div2:hover .div3 {
    display: block;
}


.div4 {
    display: none;
    position: fixed;
    right: 75px;
    top: 350px;
}

.div5 {
    position: relative;
    padding: 20px 20px;
    background-color: goldenrod;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 10px;
}

.div6 {
    width: 200px;
    display: none;
    position: absolute;
    left: -40px;
    top: 70px;
    padding: 10px 20px;
    background-color: grey;
    border-radius: 10px;
}

.div5:hover .div6 {
    display: block;
}