body #asdkf {
    height: 100vh;
    background: url('/img/background/signin.jpg') no-repeat center fixed;
    background-size: cover;
}

.blurred-container {
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 5px 0;
    background: inherit;
    backdrop-filter: blur(20px);
    padding: 1% 5%;
}

.login-btn {
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8em 1.5em;
}

.login-btn:hover {
    background-color: blue;
    opacity: 0.6;
    box-shadow: 0px 0px 50px 10px rgba(255, 255, 224);
    transition: 0.2s;
}

.google-signin-btn {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    font-weight: 500;
}

.google-signin-btn:hover {
    background-color: aliceblue;
    border: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.facebook-signin-btn {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    font-weight: 500;
}

.facebook-signin-btn:hover {
    background-color: aliceblue;
    border: none;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.signup-btn {
    color: black;
    font-weight: bold;
}

.stay-anony-btn {
    color: black;
    font-weight: bold;
}

input#account,
input#password {

    background: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em 1.5em;
}

.custom-radio,
.custom-checkbox {
    margin-bottom: 5px;
    display: flex;
}


.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
    border-color: #3F69AA;
    border-radius: 0;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #ffffff;
    background: #3F69AA;
}

#newaccount {
    margin-right: 10px;
}