body #asdhasdsja {
    height: 100vh;
    background: url('../assets/background/signup.jpg') no-repeat center fixed;
    background-size: cover;
}

.blurred-container {
    box-shadow: 0 0 5px 0;
    background: inherit;
    backdrop-filter: blur(15px);
    padding: 3%;
}

#username,
#email,
#password,
#re-password,
#name {
    background: none;
    padding: .75em 1.5em;
    border: 1px solid black;
    border-radius: 5px;
}

#l1-continue-btn {
    width: fit-content;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8em 2em;
}

#l1-continue-btn:hover {
    background-color: blue;
    opacity: 0.6;
}

.signup-layout-1>a {
    color: black;
    font-weight: bold;
}

.signup-layout-1>a:hover {
    color: rgb(51, 102, 204);
}

#l2-back-btn {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
}

#dob {
    width: fit-content;
    height: fit-content;
    padding: 1em 1em 0.5em 1em;
    background-color: inherit;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    margin-left: auto;
    margin-right: auto;
}

#role {
    width: fit-content;
    padding: 0.5em 1em;
    box-shadow: 0 0 5px black;
    background: inherit;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

#signup-btn {
    width: fit-content;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.8em 2em;
    margin-left: auto;
    margin-right: auto;
}

#signup-btn:hover {
    background-color: blue;
    opacity: 0.6;
    transition: all 0.2s ease;
}

.input-container {
    position: relative;
}

.input-container>input {
    width: 100%;
}

.input-container>div {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.info-img {
    width: 24px;
    height: 24px;
}

.note-item {

    padding: 10px 15px;
    background-color: white;
    opacity: 1;
    border-radius: 10px;
    display: none;
    position: absolute;

    box-shadow: 0 0 5px 0;
}

.note-item-custom1 {
    width: 300px;
    right: -320px;
    top: -40px;
}

.note-item-custom2 {
    width: 250px;
    right: -270px;
    top: -15px;
}

.input-container>div:hover .note-item {
    display: block;
}