main {
    width: 92%;
    margin: 2em auto;
}

.tag-container {
    background: lightgray;
    padding: 0.5em 1em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-container>span {
    margin-right: 1em;
}

.tag-container>i{
    opacity: 0.8;
    transition: opacity 0.2s;
    font-size: 25px;
}

.tag-container>i:hover{
    opacity: 1;
}

#category {
    appearance: none;
    width: auto;
    background: none;
    padding: 0.5em 1em;
    border-radius: 5px;
}

#title,
#summary {
    padding: 1em 2em;
}

.cancel-btn,
.post-btn {
    padding: 1em 1.5em;
}

.cmt-container{
    display: flex;
    flex-direction: column;
}

.comment{
    resize: none;
    display: flex;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
}
